<div class="container">
  <h3>Payment Form</h3>

<!--  // Title pipe-->
  <div class="row">
    <div class="col">
      <label class="form-label" for="payee_name">Payee Name</label>
      <input
        class="form-control"
        id="payee_name"
        type="text"
        (input)="onNameChange($any($event.target).value)"
      >
    </div>
    <div class="col">
      <label><strong>Name</strong></label>
      <div>
        {{ name | titlecase}}
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col">
      <label class="form-label" for="payee_date">Payment Date</label>
      <input
        class="form-control"
        id="payee_date"
        type="date"
        (input)="onDateChange($any($event.target).value)"
      >
    </div>
    <div class="col">
      <label><strong>Payment Date</strong></label>
      <div>
        {{ date | date: 'MMMM d, y'  }}
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <label class="form-label" for="payee_amount">Payment amount</label>
      <input
        class="form-control"
        id="payee_amount"
        type="number"
        (input)="onAmountChange($any($event.target).value)"
      >
    </div>
    <div class="col">
      <label><strong>Payment Amount</strong></label>
      <div>
        {{ amount | currency : 'ARS'  }}
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <label class="form-label" for="height">Height</label>
      <input
        class="form-control"
        id="height"
        type="number"
        (input)="onHeightChange($any($event.target).value)"
      >
    </div>
    <div class="col">
      <label><strong>Height</strong></label>
      <div>
        {{ height | number: '1.2-2'}}
      </div>
    </div>
  </div>

  {{ car | json }}


  <div class="row">
    <div class="col">
      <label class="form-label" for="miles">Miles</label>
      <input
        class="form-control"
        id="miles"
        type="number"
        (input)="onMilesChange($any($event.target).value)"
      >
    </div>
    <div class="col">
      <label><strong>kilometers</strong></label>
      <div>
        {{ miles | convert: 'km' }}
      </div>

      <label><strong>Meters</strong></label>
      <div *ngIf="(miles | convert : 'km') > 10">
        {{ miles | convert: 'm' }}
      </div>

      <label><strong>Centimeters</strong></label>
      <div>
        {{ miles | convert: 'cm' | number : '1.2-2'}}
      </div>

    </div>
  </div>





</div>


